@import '../helper/mixins';

.go_top{
  position: fixed;
  bottom: 70px;
  right: 60px;
  width: 30px;
  text-align: center;
  font-size: 12px;
  color: $muted;
  opacity: .8;
  cursor: pointer;
  z-index: 1000;
  &:hover{
    opacity: 1;
  }
  @include pad_pro{
    bottom: 50px;
    right: 40px;
  }
  @include pad{
    bottom: 45px;
    right: 30px;
  }
  @include phone{
    bottom: 65px;
    right: 15px;
  }
}